@font-face {
	font-family: 'Default Sans';
	src: url('../assets/fonts/default-sans-book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Default Sans';
	src: url('../assets/fonts/default-sans-book-italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Default Sans Mono';
	src: url('../assets/fonts/default-sans-mono-book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-sans: 'Default Sans', sans-serif;
	--font-mono: 'Default Sans Mono', monospace;
	font-synthesis: none;
}
